//Tipografia
$fuente_principal: 'Montserrat', sans-serif;

// colores
$verde: #4CBBB3;
$rosa: #F53756;
$morado: #752F97;
$amarillo: #FEF46D;
$negro: #000;
$blanco: #fff;


// Tamaños de Media Queries

$telefono: 300px;
$tablet: 768px;
$computadora: 992px;
$XL: 1300px;