@use 'base/variables' as v;
@use 'base/mixins' as m;

.boletos {
    padding: 5rem 0;
}

h3 {
    text-align: center;
    color: v.$blanco;
    margin-bottom: 2rem;
}

.contenedor-boletos {
    @include m.tablet {
        @include m.grid(2, 5rem)
    }
}

.pase {
    .nombre-pase {
        text-align: center;
        font-size: 2.4rem;
        color: v.$blanco;
        font-weight: 700;
    }

    &-header,
    &-footer {
        padding: .5rem;

        p {
            text-align: center;
            color: v.$blanco;
            margin: 0;
            text-transform: uppercase;
            font-size: 1.6rem;
        }
    }

    &-header {
        background-color: v.$rosa;
    }

    &-body {
        background-color: v.$blanco;

        ul {
            @include m.resetear-lista;

            li,
            :nth-child(odd) {
                padding: 1rem;
                background-color: v.$blanco;
                border-bottom: 1px solid #e1e1e1;
            }
        }
    }

    &-footer {
        background-color: v.$morado;

        p {
            font-size: 2.4rem;
            font-weight: 700;
            margin: 0;
        }
    }
}