@use 'base/variables' as v;
@use 'base/mixins' as m;


.sobre-festival {
    padding: 3rem 0;

    @include m.tablet {
        @include m.grid(2, 2rem);
    }
}


.contenido-festival {
    display: flex;
    flex-direction: column;
    justify-content: center;

    margin-top: 2rem;

    @include m.tablet {
        margin-top: 0;
    }

    h2 {
        margin-bottom: 1rem;
    }


    .Fecha {
        color: v.$rosa;
        font-weight: 600;
    }
}